html {
  background: darkslateblue;
  font-size: 10px;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50em;
  width: 30em;
  transform: translate(-50%, -50%);
  transform-origin: center;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
